@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-LT-Std-35-Light_5169.ttf');
}

body {
    -webkit-background-image: linear-gradient(to bottom, #676767, #efefef);
    -moz-background-image: linear-gradient(to bottom, #676767, #efefef);
    -o-background-image: linear-gradient(to bottom, #676767, #efefef);
    background-image: linear-gradient(to bottom, #676767, #efefef);
    background-repeat: no-repeat;
    font-family: 'Avenir', sans-serif;
    height: 100vh
}

.intro ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.intro ul li {
    display: inline-block;
}

.intro ul a {
    text-decoration: none;
    font-size: 2em;
    border-radius: 15px;
    padding: 10px 30px 0 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: bold;
    vertical-align: middle;
}

.bot-img img {
    height: 540px;
    display: block;
    margin: 0 auto;
}

.desc p {
    font-size: 1.5em;
    line-height: 1.3em;
}

.desc img {
    height: 150px;
    margin: 30px 0;
}

.desc ul li img {
    display: inline-block;
    height: 50px;
    width: auto;
    margin: 0;
}